@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap');

.t1_colors {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 1px solid rgb(111, 61, 69);
}

body {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.intro{
    background: #e6e6e6;
    color: #404040;
    border: none;
    text-align: left;
    padding-left: 2rem;
}

.info{
    border: none;
    text-align: center;
    background-color: white;
    font-size: 14px;
    text-align: left;
   
}       

#elemento {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #elemento td, #elemento th {
    border: 1px solid #fff;
    background-color: #ddd;
    width: 239px;
    height: 37px;
    padding-left: 17px;  
  }
    

.container{
    padding-left: 5rem;
    width: 90%;
}

.Table_TP, Tr_TP, td {
    border: 1px solid black;
    padding: 0;
    
}

.Table_TP {
    border: none;
    margin: 40px auto auto auto;
}

td {
    width: 70px;
    height: 70px;
    border-radius: 2px;

}

.HiddeCell{
    visibility:hidden;
}

.elementSymbol {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    text-align: center;

}

.elementNumber {
        padding: 0px;
        font-size: 15px;
        line-height: 59%;
        padding-left: 6px;
        padding-bottom: 4px; 
}

.gap{
    height:20px;
}

.Table_legenda{
    margin:40px auto auto auto;
    padding-left: 5rem;
}

.td_legenda {
    width: 250px;
    height: 30px;
    border: none;
    margin-bottom: auto;
    margin-top: auto;
}

svg {
    border: 1px solid black;
    border-radius: 2px;
}
.td_svg {
    width: 30px;
    height: 30px;
    border: none;
}


/* Classes dos elementos */

.naoMetais {
    background-color: rgba(161, 211, 68,0.6);
}

    .naoMetais:hover{
        background-color: rgb(161, 211, 68);
    }


.gasesNobres {
    background-color: rgba(61, 158, 227,0.6);

}

    .gasesNobres:hover {
        background-color: rgb(61, 158, 227);

    }

.metaisTransicao {
    background-color: rgba(235, 142, 142,0.6);
}

    .metaisTransicao:hover {
        background-color: rgb(235, 142, 142);
    }

.metaisAlcalinos {
    background-color: rgba(241, 178, 0,0.6); 
}

    .metaisAlcalinos:hover {
         background-color: rgb(241, 178, 0); 
    }

.alcalinoTerrosos {
    background-color: rgba(234, 218, 0,0.6);
}

    .alcalinoTerrosos:hover {
        background-color: rgb(234, 218, 0);
    }

.Halogenios {
    background-color: rgba(112, 203, 235,0.6);
}

    .Halogenios:hover {
        background-color: rgb(112, 203, 235);
    }

.semiMetais {
    background-color: rgba(77, 182, 172,0.6);
}

    .semiMetais:hover {
        background-color: rgb(77, 182, 172);
    }

.outrosMetais {
    background-color: rgba(162, 199, 211,0.6);
}

    .outrosMetais:hover {
        background-color: rgb(162, 199, 211);
    }

.lantanideos {
    background-color: rgba(144, 227, 233,0.6);
}

    .lantanideos:hover {
        background-color: rgb(144, 227, 233);
    }

.actinidios {
    background-color: rgba(220, 173, 214,0.6);
}

    .actinidios:hover {
        background-color: rgb(220, 173, 214);
    }


